<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,175}</string>
                <key>spriteSourceSize</key>
                <string>{120,175}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,175}</string>
                <key>spriteSourceSize</key>
                <string>{120,175}</string>
                <key>textureRect</key>
                <string>{{1080,0},{120,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,175}</string>
                <key>spriteSourceSize</key>
                <string>{120,175}</string>
                <key>textureRect</key>
                <string>{{1200,0},{120,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,175}</string>
                <key>spriteSourceSize</key>
                <string>{120,175}</string>
                <key>textureRect</key>
                <string>{{1320,0},{120,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,175}</string>
                <key>spriteSourceSize</key>
                <string>{120,175}</string>
                <key>textureRect</key>
                <string>{{1440,0},{120,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,175}</string>
                <key>spriteSourceSize</key>
                <string>{120,175}</string>
                <key>textureRect</key>
                <string>{{120,0},{120,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,175}</string>
                <key>spriteSourceSize</key>
                <string>{120,175}</string>
                <key>textureRect</key>
                <string>{{240,0},{120,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,175}</string>
                <key>spriteSourceSize</key>
                <string>{120,175}</string>
                <key>textureRect</key>
                <string>{{360,0},{120,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,175}</string>
                <key>spriteSourceSize</key>
                <string>{120,175}</string>
                <key>textureRect</key>
                <string>{{480,0},{120,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,175}</string>
                <key>spriteSourceSize</key>
                <string>{120,175}</string>
                <key>textureRect</key>
                <string>{{600,0},{120,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,175}</string>
                <key>spriteSourceSize</key>
                <string>{120,175}</string>
                <key>textureRect</key>
                <string>{{720,0},{120,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,175}</string>
                <key>spriteSourceSize</key>
                <string>{120,175}</string>
                <key>textureRect</key>
                <string>{{840,0},{120,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,175}</string>
                <key>spriteSourceSize</key>
                <string>{120,175}</string>
                <key>textureRect</key>
                <string>{{960,0},{120,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardRes.png</string>
            <key>size</key>
            <string>{1560,175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adc655891ae2252d8ec93f109b503978:c21771d2c3be85830662e638a5ae932e:2ada8245a6b9157078950e2ff210b1d3$</string>
            <key>textureFileName</key>
            <string>cardRes.png</string>
        </dict>
    </dict>
</plist>
